#redbutton {
    margin: 10px;
    background-color: red;
    color: white;
    border-radius: 8px; 
    padding: 8px 15px; 
    
  }
  
  #bluebutton {
    margin: 10px;
    background-color: blue;
    color: white;
    border-radius: 8px; 
    padding: 8px 15px; 
    
  }
  
  #greenbutton {
    margin: 10px;
    background-color: green;
    color: white;
    border-radius: 8px; 
    padding: 8px 15px; 
    
  }